<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio.rockpile.server.analyze.dao.StepPropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="studio.rockpile.server.analyze.entity.StepProperty">
        <id column="id" property="id" />
        <result column="step_id" property="stepId" />
        <result column="code" property="code" />
        <result column="seq_no" property="seqNo" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, step_id, code, seq_no, content
    </sql>

</mapper>
